@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}
html,body{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}
.custom-shadow{
    box-shadow: 0px 1px 1.4px 0px rgba(0, 0, 0, 0.5);
  }
  .custom-shadow2{
    box-shadow: 0px 1px 1.4px 0px rgb(255, 255, 255);
  }
.bg{
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('./assets/yetkenya/pic4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}